<div class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light fondo bg-light">
        <a class="navbar-brand" href="#">
            <img src="https://2.bp.blogspot.com/-Vwr_16qyqsc/WU_KkMCATbI/AAAAAAABJvU/P6SOCMKqzbg3XH4L3gqv42-8KQvTYSXigCLcBGAs/s1600/Copa%2BMundial%2BRusia%2B2018.png" width="60" height="60" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" routerLinkActive="active">
                    <a class="nav-link" routerLink="resultados" style="font-family: times, serif; font-size:14pt; font-style:italic; color:white">Resultados</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="equipos" style="font-family: times, serif; font-size:14pt; font-style:italic; color:white">Equipos</a>
                </li>
            </ul>
        </div>
    </nav>
</div>