<span [ngSwitch]="alerta">
<p *ngSwitchCase="true">

</p>
<p *ngSwitchCase="'success'">
success
</p>
<p *ngSwitchCase="'info'">
    info
</p>
<p *ngSwitchCase="'warning'">
    warning
</p>
<p *ngSwitchCase="'danger'">
    danger
</p>
<p *ngSwitchDefault>

</p>
</span>
<button type="button" (click)="alerta='success'" class="btn btn-default"> 
  Cambiar
</button>
<div [ngSwitch]="alerta">
    <div *ngSwitchCase="'success'" class="alert alert-success" role="alert">
        A simple success alert—check it out!
    </div>
    <div *ngSwitchCase="'danger'" class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
    </div>
    <div *ngSwitchCase="'warning'" class="alert alert-warning" role="alert">
        A simple warning alert—check it out!
    </div>
    <div *ngSwitchCase class="alert alert-info" role="alert">
        A simple info alert—check it out!
    </div>

</div>